services:
  caddy:
    # https://github.com/rdiazlugo/caddy
    image: ghcr.io/rdiazlugo/caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./conf:/etc/caddy
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
    network_mode: host

volumes:
  caddy_data:
  caddy_config:
